<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>idBanco</key>
		<string>FNCS</string>
		<key>Nombre</key>
		<string>BBVA Francés</string>
		<key>ImagenHome</key>
		<string>lgo_franceshome.png</string>
		<key>ImagenTitulo</key>
		<string>lgo_francesheader.png</string>
		<key>ImagenRedonda</key>
		<string>ico_Frances.png</string>
		<key>Seleccionado</key>
		<string>Inactivo</string>
		<key>mascara</key>
		<string>NNNNNNNN</string>
		<key>url</key>
		<string>https://www.bancofrances.com.ar/tlal/jsp/ar/esp/home/index.jsp</string>
	</dict>
	<dict>
		<key>idBanco</key>
		<string>BSTN</string>
		<key>Nombre</key>
		<string>ICBC</string>
		<key>ImagenHome</key>
		<string>lgo_standardhome.png</string>
		<key>ImagenTitulo</key>
		<string>lgo_standardheader.png</string>
		<key>ImagenRedonda</key>
		<string>ico_Standard.png</string>
		<key>Seleccionado</key>
		<string>Inactivo</string>
		<key>mascara</key>
		<string>NNNNNNNN</string>
		<key>url</key>
		<string>https://www.accessbanking.com.ar/RetailHomeBankingWeb/access.do</string>
	</dict>
	<dict>
		<key>idBanco</key>
		<string>RIOP</string>
		<key>Nombre</key>
		<string>Santander Río</string>
		<key>ImagenHome</key>
		<string>lgo_santanderhome.png</string>
		<key>ImagenTitulo</key>
		<string>lgo_santanderheader.png</string>
		<key>ImagenRedonda</key>
		<string>ico_Santander.png</string>
		<key>Seleccionado</key>
		<string>Inactivo</string>
		<key>mascara</key>
		<string>NNNNNNNN</string>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>idBanco</key>
		<string>GLCA</string>
		<key>Nombre</key>
		<string>Galicia</string>
		<key>ImagenHome</key>
		<string>lgo_galiciahome.png</string>
		<key>ImagenTitulo</key>
		<string>lgo_galiciaheader.png</string>
		<key>ImagenRedonda</key>
		<string>ico_Galicia.png</string>
		<key>Seleccionado</key>
		<string>Inactivo</string>
		<key>mascara</key>
		<string>NNNNNNNN</string>
		<key>url</key>
		<string>https://wsec01.bancogalicia.com.ar/scripts/homebanking/GalHBlogin.asp</string>
	</dict>
	<dict>
		<key>idBanco</key>
		<string>CTBK</string>
		<key>Nombre</key>
		<string>Citi</string>
		<key>ImagenHome</key>
		<string>lgo_citihome.png</string>
		<key>ImagenTitulo</key>
		<string>lgo_citiheader.png</string>
		<key>ImagenRedonda</key>
		<string>ico_Citi.png</string>
		<key>Seleccionado</key>
		<string>Inactivo</string>
		<key>mascara</key>
		<string>XXXXXXXXXXNNNNNN</string>
		<key>url</key>
		<string>https://www.argentina.citibank.com/ARGCB/JPS/portal/Index.do</string>
	</dict>
	<dict>
		<key>idBanco</key>
		<string>SDMR</string>
		<key>Nombre</key>
		<string>Patagonia</string>
		<key>ImagenHome</key>
		<string>lgo_patagoniahome3.png</string>
		<key>ImagenTitulo</key>
		<string>lgo_patagoniapantallas3.png</string>
		<key>ImagenRedonda</key>
		<string>ico_Patagonia.png</string>
		<key>Seleccionado</key>
		<string>Inactivo</string>
		<key>mascara</key>
		<string>NNNNNNNN</string>
		<key>url</key>
		<string>https://ebankpersonas.bancopatagonia.com.ar/eBanking/usuarios/login.htm</string>
	</dict>
	<dict>
		<key>idBanco</key>
		<string>BMBS</string>
		<key>Nombre</key>
		<string>Macro</string>
		<key>ImagenHome</key>
		<string>lgo_macrohome.png</string>
		<key>ImagenTitulo</key>
		<string>lgo_macroheader.png</string>
		<key>ImagenRedonda</key>
		<string>ico_Macro.png</string>
		<key>Seleccionado</key>
		<string>Inactivo</string>
		<key>mascara</key>
		<string>NNNNNNNN</string>
		<key>url</key>
		<string>https://macronline.com.ar/</string>
	</dict>
	<dict>
		<key>idBanco</key>
		<string>RBTS</string>
		<key>Nombre</key>
		<string>HSBC Bank Argentina</string>
		<key>ImagenHome</key>
		<string>lgo_hsbchome.png</string>
		<key>ImagenTitulo</key>
		<string>lgo_hsbcheader.png</string>
		<key>ImagenRedonda</key>
		<string>ico_HSBC.png</string>
		<key>Seleccionado</key>
		<string>Inactivo</string>
		<key>mascara</key>
		<string>NNNNNNNNNN</string>
		<key>url</key>
		<string>https://www.pcbanking2g.hsbc.com.ar/1/2/?WT.ac=HBAR_e100901PCB03PFS</string>
	</dict>
	<dict>
		<key>idBanco</key>
		<string>IBAY</string>
		<key>Nombre</key>
		<string>Itaú</string>
		<key>ImagenHome</key>
		<string>lgo_itauhome.png</string>
		<key>ImagenTitulo</key>
		<string>lgo_itauheader.png</string>
		<key>ImagenRedonda</key>
		<string>ico_Itau.png</string>
		<key>Seleccionado</key>
		<string>Inactivo</string>
		<key>mascara</key>
		<string>NNNNNNNNNN</string>
		<key>url</key>
		<string>https://ihb1.itau.com.ar/homebanking/login.do</string>
	</dict>
	<dict>
		<key>idBanco</key>
		<string>QLMS</string>
		<key>Nombre</key>
		<string>Comafi</string>
		<key>ImagenHome</key>
		<string>lgo_comafihome.png</string>
		<key>ImagenTitulo</key>
		<string>lgo_comafiheader.png</string>
		<key>ImagenRedonda</key>
		<string>ico_Comafi.png</string>
		<key>Seleccionado</key>
		<string>Inactivo</string>
		<key>mascara</key>
		<string>NNNNNNNN</string>
		<key>url</key>
		<string>https://hb.comafi.com.ar/homebank/HBI.do</string>
	</dict>
	<dict>
		<key>idBanco</key>
		<string>SPRE</string>
		<key>Nombre</key>
		<string>Supervielle</string>
		<key>ImagenHome</key>
		<string>lgo_superviellehome.png</string>
		<key>ImagenTitulo</key>
		<string>lgo_supervielleheader.png</string>
		<key>ImagenRedonda</key>
		<string>ico_Supervielle.png</string>
		<key>Seleccionado</key>
		<string>Inactivo</string>
		<key>mascara</key>
		<string>NNNNNNNN</string>
		<key>url</key>
		<string>https://hbsrv.supervielle.com.ar/html/Inicio.html</string>
	</dict>
	<dict>
		<key>idBanco</key>
		<string>TUCU</string>
		<key>Nombre</key>
		<string>Tucumán</string>
		<key>ImagenHome</key>
		<string>lgo_macrotucumanhome.png</string>
		<key>ImagenTitulo</key>
		<string>lgo_macrotucumanheader.png</string>
		<key>ImagenRedonda</key>
		<string>ico_Macro.png</string>
		<key>Seleccionado</key>
		<string>Inactivo</string>
		<key>mascara</key>
		<string>NNNNNNNN</string>
		<key>url</key>
		<string>https://hbsrv.bancodeltucuman.com.ar/html/Inicio.html</string>
	</dict>
	<dict>
		<key>idBanco</key>
		<string>DEMO</string>
		<key>Nombre</key>
		<string>Banelco</string>
		<key>ImagenHome</key>
		<string>lgo_banelcohome.png</string>
		<key>ImagenTitulo</key>
		<string>lgo_appheader.png</string>
		<key>ImagenRedonda</key>
		<string>ico_Banelco.png</string>
		<key>Seleccionado</key>
		<string>Inactivo</string>
		<key>mascara</key>
		<string>NNNNNNNN</string>
		<key>url</key>
		<string></string>
	</dict>
</array>
</plist>
