<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Spanish</string>
	<key>CFBundleDisplayName</key>
	<string>Comafi</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>icono_app.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icono_app.png</string>
		<string>icono_app@2x.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icono_app.png</string>
				<string>icono_app@2x.png</string>
				<string>icono_app120.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.banelco.comafi</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.banelco.comafi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.banelco.comafimovil</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.9.2</string>
	<key>ConsultasService_DESA</key>
	<string>https://wssrv2.banelcoservices.com.ar/services/2.0/PMCSoapMobileClient</string>
	<key>ConsultasService_PROD</key>
	<string>https://wssrv2.banelcoservices.com.ar/services/2.0/PMCSoapMobileClient</string>
	<key>ConsultasService_TEST</key>
	<string>https://wssrvcert.banelcoservices.com.ar/services/2.0/PMCSoapMobileClient</string>
	<key>Environment</key>
	<string>PROD</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LoginAppName</key>
	<string>Comafi Móvil</string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>Personalizacion</key>
	<dict>
		<key>AppName</key>
		<string>Comafi Móvil</string>
		<key>DetalleBkgColor</key>
		<string>0xFFFFFF</string>
		<key>DetalleTxtColor</key>
		<string>0x000000</string>
		<key>ImagenHome</key>
		<string>lgo_comafihome.png</string>
		<key>ImagenTitulo</key>
		<string>lgo_comafiheader.png</string>
		<key>ListaTxtColor</key>
		<string>0x000000</string>
		<key>MenuTxtColor</key>
		<string>0x000000</string>
		<key>Nombre</key>
		<string>Comafi Móvil</string>
		<key>TitleTxtColor</key>
		<string>0x5C8727</string>
		<key>TxtColor</key>
		<string>0x000000</string>
		<key>idBanco</key>
		<string>QLMS</string>
		<key>mascara</key>
		<string>NNNNNNNN</string>
		<key>url</key>
		<string>https://hb.comafi.com.ar/homebank/HBI.do</string>
	</dict>
	<key>TrackingID_PROD</key>
	<string>UA-54620397-6</string>
	<key>TrackingID_TEST</key>
	<string>UA-54512974-1</string>
	<key>UIAppFonts</key>
	<array>
		<string>BanelcoBeau-Bold.otf</string>
		<string>BanelcoBeau-BoldItalic.otf</string>
		<string>BanelcoBeau-Italic.otf</string>
		<string>BanelcoBeau-LightItal.otf</string>
		<string>BanelcoBeau-Reg.otf</string>
		<string>BanelcoBeau-SeBold.otf</string>
		<string>BanelcoBeau-SeBoldItal.otf</string>
	</array>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>WebServiceHost_DESA</key>
	<string>wssrvcert.banelcoservices.com.ar</string>
	<key>WebServiceHost_PROD</key>
	<string>wssrv2.banelcoservices.com.ar</string>
	<key>WebServiceHost_TEST</key>
	<string>wssrvcert.banelcoservices.com.ar</string>
	<key>menuGenerico</key>
	<string>true</string>
	<key>urlAyuda_DESA</key>
	<string>http://200.59.131.224/ayudaIphone.aspx</string>
	<key>urlAyuda_PROD</key>
	<string>http://descargar.comafimovil.com.ar/ayudaIphone.aspx</string>
	<key>urlAyuda_TEST</key>
	<string>http://200.59.131.224:8391/ayudaIphone.aspx</string>
	<key>urlMenues_DESA</key>
	<string>http://bajar.banelcomovil.com/files/menuBancosiPhone.txt</string>
	<key>urlMenues_PROD</key>
	<string>http://bajar.banelcomovil.com/files/menuBancosiPhone.txt</string>
	<key>urlMenues_TEST</key>
	<string>http://200.59.131.224/files/menuBancosiPhone.txt</string>
	<key>urlRegis_DESA</key>
	<string>http://bajar.banelcomovil.com/files/registracion.txt</string>
	<key>urlRegis_PROD</key>
	<string>http://descargar.comafimovil.com.ar/files/registracion.txt</string>
	<key>urlRegis_TEST</key>
	<string>http://200.59.131.224/files/registracion.txt</string>
	<key>urlVersion_DESA</key>
	<string>http://bajar.banelcomovil.com/files/updateiPhone.txt</string>
	<key>urlVersion_PROD</key>
	<string>http://descargar.comafimovil.com.ar/files/updateiPhoneQLMS.txt</string>
	<key>urlVersion_TEST</key>
	<string>http://200.59.131.224:8391/files/updateiPhoneQLMS.txt</string>
</dict>
</plist>
